@import 'properties';

.navigation {
    position: fixed;
    top: 0;
    background-color: $background-color-orange;
    width: 100%;

    .logo {
        max-width: 100%;
        max-height: 110px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
        &:hover {
           cursor: pointer;
        }
    }

    .search {
        border: 1px solid $border-color-blue;
        border-width: 3px;
        background-color: $background-white;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .searchIcon {
            color: $text-color-grey;
            width: 15px;
            margin-right: 0.3em;
            justify-content: center;
        }

        .searchText {
            color: $text-color-grey;
            font-size: 1.1em;
            font-weight: 300;
            justify-content: center;
        }

        &:hover {
            cursor: text;
        }
    }
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

.menu {
    display: flex;
    border: 1px solid $border-color-blue;
    border-top-width: 0;
    border-left-width: 3px;
    border-bottom-width: 3px;
    border-right-width: 3px;
    background-color: $background-color-orange;
    font-size: 26px;
    font-weight: 300;
    justify-content: center;

    .home {
        color: $background-white;
        border-right: 1px solid $border-color-blue;
        border-right-width: 3px;
        width: 20%;
        text-align: center;
    }
    
    .commission {
        color: $background-white;
        border-right: 1px solid $border-color-blue;
        border-right-width: 3px;
        width: 20%;
        text-align: center;
    }

    .templates {
        color: $background-white;
        border-right: 1px solid $border-color-blue;
        border-right-width: 3px;
        width: 20%;
        text-align: center;
    }

    .report {
        color: $background-white;
        border-right: 1px solid $border-color-blue;
        border-right-width: 3px;
        width: 20%;
        text-align: center;
    }

    .profileName {
        color: $background-white;
        border-right: 1px solid $border-color-blue;
        border-right-width: 1px;
        width: 20%;
        text-align: center;
    }

    &:hover {
        cursor: pointer;
    }
}

// Mini devices (landscape phones, 576px and below)
@media screen and (max-width: 576px) { 
    .menu {
        font-size: 12px;
    }
 }

// Mini devices (landscape phones, 576px and below)
@media screen and (min-width: 576px) and (max-width:786px) { 
    .menu {
        font-size: 16px;
    }
 }