$background-white: #FFFDFD;
$background-grey: #C4C4C4;
$text-color-grey: #B5B4B4;
$border-color-blue: #0F94B3;
$background-color-orange: #F3A57F;
$black: #262626;

$gradient-one: #da3394;
$gradient-two: #e03c67;
$gradient-three: #f3753b;
$gradient-four: #f99b4a;

$font-color-secondary: #8e8e8e;
$font-color-footer: #c7c7c7;
$border-color-grey: #dbdbdb;
$border-color-grey-secondary: #efefef;
$link-color: #0095f6;
$link-color-secondary: #b3dffc;
$font: "Montserrat", sans-serif; // instead of Proxima Nova